In [95]:
from pathlib import Path
import os

folder_dir = Path(r"C:\Users\hkink\OneDrive\Personal\Finances\Konto väljavõtted")
files = folder_dir.glob("*palk.csv")
# file_path = next(files)
# print(file_path)

In [96]:
import pandas as pd

# file_path = 'bank_statement.csv'
all_df = None
for file_path in files:
    df = pd.read_csv(file_path, sep=';', encoding='utf-8')
    if all_df is None:
        all_df = df
    df = df[["Kuupäev", "Saaja/Maksja", "Selgitus", "Summa", "Valuuta", "Kliendi konto"]].copy()
    df = df[~df['Selgitus'].isin(['Käive'])].copy()
    all_df = pd.concat([all_df, df])

df = all_df
df

,Kliendi konto,Reatüüp,Kuupäev,Saaja/Maksja,Selgitus,Summa,Valuuta,Deebet/Kreedit,Arhiveerimistunnus,Tehingu tüüp,Viitenumber,Dokumendi number,Unnamed: 12
0,EE472200221064500325,20.0,27.01.2022,Microsoft Development Center Estoni,'220127F06487 Salary of January 2022 /ROC/202...,"2787,64",EUR,K,2.022013e+15,MV,NaN,NaN,NaN
1,EE472200221064500325,20.0,23.02.2022,Microsoft Development Center Estoni,'220223F06034 Salary of February 2022 /ROC/20...,"2787,64",EUR,K,2.022022e+15,MV,NaN,NaN,NaN
2,EE472200221064500325,20.0,31.03.2022,Microsoft Development Center Estoni,'220331F03350 Salary of March 2022 /ROC/20220...,"2787,64",EUR,K,2.022033e+15,MV,NaN,NaN,NaN
3,EE472200221064500325,20.0,06.04.2022,Microsoft Development Center Estoni,'220406F13071 Holiday pay /ROC/202204047,"139,39",EUR,K,2.022041e+15,MV,NaN,NaN,NaN
4,EE472200221064500325,20.0,28.04.2022,Microsoft Development Center Estoni,'220428F05232 Salary of April 2022 /ROC/20220...,"1289,54",EUR,K,2.022043e+15,MV,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,EE472200221064500325,NaN,03.09.2024,Intelligent Technologies OÜ,August 2024 tasu,"5571,66",EUR,NaN,NaN,NaN,NaN,NaN,NaN
9,EE472200221064500325,NaN,10.09.2024,Intelligent Technologies OÜ,Lähetusaruanne 08-2024,"1069,65",EUR,NaN,NaN,NaN,NaN,NaN,NaN
10,EE472200221064500325,NaN,04.10.2024,Intelligent Technologies OÜ,September 2024 tasu,"5571,66",EUR,NaN,NaN,NaN,NaN,NaN,NaN
11,EE472200221064500325,NaN,04.11.2024,Intelligent Technologies OÜ,Oktoober 2024 tasu,"6898,24",EUR,NaN,NaN,NaN,NaN,NaN,NaN
12,EE472200221064500325,NaN,05.12.2024,Intelligent Technologies OÜ,November 2024 tasu,"4245,07",EUR,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
# Convert date column to datetime
df['Kuupäev'] = pd.to_datetime(df['Kuupäev'], errors='coerce', format='%d.%m.%Y')
# df.dtypes

# # Filter for debit (spending) transactions
# df = df[df['Deebet/Kreedit'] == 'Deebet']

# Extract year and month from date
df['Month'] = df['Kuupäev'].dt.to_period('M')

# # Convert "Summa" to numeric and handle possible conversion issues
df['Summa'] = df['Summa'].str.replace(',', '.')
df['Summa'] = pd.to_numeric(df['Summa'], errors='coerce')

df.sort_values(by='Kuupäev', ascending=False)

,Kliendi konto,Reatüüp,Kuupäev,Saaja/Maksja,Selgitus,Summa,Valuuta,Deebet/Kreedit,Arhiveerimistunnus,Tehingu tüüp,Viitenumber,Dokumendi number,Unnamed: 12,Month
12,EE472200221064500325,NaN,2024-12-05,Intelligent Technologies OÜ,November 2024 tasu,4245.07,EUR,NaN,NaN,NaN,NaN,NaN,NaN,2024-12
11,EE472200221064500325,NaN,2024-11-04,Intelligent Technologies OÜ,Oktoober 2024 tasu,6898.24,EUR,NaN,NaN,NaN,NaN,NaN,NaN,2024-11
10,EE472200221064500325,NaN,2024-10-04,Intelligent Technologies OÜ,September 2024 tasu,5571.66,EUR,NaN,NaN,NaN,NaN,NaN,NaN,2024-10
9,EE472200221064500325,NaN,2024-09-10,Intelligent Technologies OÜ,Lähetusaruanne 08-2024,1069.65,EUR,NaN,NaN,NaN,NaN,NaN,NaN,2024-09
8,EE472200221064500325,NaN,2024-09-03,Intelligent Technologies OÜ,August 2024 tasu,5571.66,EUR,NaN,NaN,NaN,NaN,NaN,NaN,2024-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,EE472200221064500325,NaN,2022-03-31,Microsoft Development Center Estoni,'220331F03350 Salary of March 2022 /ROC/20220...,2787.64,EUR,NaN,NaN,NaN,NaN,NaN,NaN,2022-03
1,EE472200221064500325,20.0,2022-02-23,Microsoft Development Center Estoni,'220223F06034 Salary of February 2022 /ROC/20...,2787.64,EUR,K,2.022022e+15,MV,NaN,NaN,NaN,2022-02
1,EE472200221064500325,NaN,2022-02-23,Microsoft Development Center Estoni,'220223F06034 Salary of February 2022 /ROC/20...,2787.64,EUR,NaN,NaN,NaN,NaN,NaN,NaN,2022-02
0,EE472200221064500325,NaN,2022-01-27,Microsoft Development Center Estoni,'220127F06487 Salary of January 2022 /ROC/202...,2787.64,EUR,NaN,NaN,NaN,NaN,NaN,NaN,2022-01
0,EE472200221064500325,20.0,2022-01-27,Microsoft Development Center Estoni,'220127F06487 Salary of January 2022 /ROC/202...,2787.64,EUR,K,2.022013e+15,MV,NaN,NaN,NaN,2022-01

In [98]:
# Remap columns
df = df.rename(columns={"Kuupäev": "Date", "Saaja/Maksja": "Sender/Receiver", "Selgitus": "Description", "Summa": "Amount", "Valuuta": "Currency", "Kliendi konto": "Account"})

In [99]:
import numpy as np
df["Receiver"] = np.where(df["Amount"]>0, df["Account"], df["Sender/Receiver"])
df["Sender"] = np.where(df["Amount"]<0, df["Account"], df["Sender/Receiver"])

df

,Account,Reatüüp,Date,Sender/Receiver,Description,Amount,Currency,Deebet/Kreedit,Arhiveerimistunnus,Tehingu tüüp,Viitenumber,Dokumendi number,Unnamed: 12,Month,Receiver,Sender
0,EE472200221064500325,20.0,2022-01-27,Microsoft Development Center Estoni,'220127F06487 Salary of January 2022 /ROC/202...,2787.64,EUR,K,2.022013e+15,MV,NaN,NaN,NaN,2022-01,EE472200221064500325,Microsoft Development Center Estoni
1,EE472200221064500325,20.0,2022-02-23,Microsoft Development Center Estoni,'220223F06034 Salary of February 2022 /ROC/20...,2787.64,EUR,K,2.022022e+15,MV,NaN,NaN,NaN,2022-02,EE472200221064500325,Microsoft Development Center Estoni
2,EE472200221064500325,20.0,2022-03-31,Microsoft Development Center Estoni,'220331F03350 Salary of March 2022 /ROC/20220...,2787.64,EUR,K,2.022033e+15,MV,NaN,NaN,NaN,2022-03,EE472200221064500325,Microsoft Development Center Estoni
3,EE472200221064500325,20.0,2022-04-06,Microsoft Development Center Estoni,'220406F13071 Holiday pay /ROC/202204047,139.39,EUR,K,2.022041e+15,MV,NaN,NaN,NaN,2022-04,EE472200221064500325,Microsoft Development Center Estoni
4,EE472200221064500325,20.0,2022-04-28,Microsoft Development Center Estoni,'220428F05232 Salary of April 2022 /ROC/20220...,1289.54,EUR,K,2.022043e+15,MV,NaN,NaN,NaN,2022-04,EE472200221064500325,Microsoft Development Center Estoni
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,EE472200221064500325,NaN,2024-09-03,Intelligent Technologies OÜ,August 2024 tasu,5571.66,EUR,NaN,NaN,NaN,NaN,NaN,NaN,2024-09,EE472200221064500325,Intelligent Technologies OÜ
9,EE472200221064500325,NaN,2024-09-10,Intelligent Technologies OÜ,Lähetusaruanne 08-2024,1069.65,EUR,NaN,NaN,NaN,NaN,NaN,NaN,2024-09,EE472200221064500325,Intelligent Technologies OÜ
10,EE472200221064500325,NaN,2024-10-04,Intelligent Technologies OÜ,September 2024 tasu,5571.66,EUR,NaN,NaN,NaN,NaN,NaN,NaN,2024-10,EE472200221064500325,Intelligent Technologies OÜ
11,EE472200221064500325,NaN,2024-11-04,Intelligent Technologies OÜ,Oktoober 2024 tasu,6898.24,EUR,NaN,NaN,NaN,NaN,NaN,NaN,2024-11,EE472200221064500325,Intelligent Technologies OÜ
12,EE472200221064500325,NaN,2024-12-05,Intelligent Technologies OÜ,November 2024 tasu,4245.07,EUR,NaN,NaN,NaN,NaN,NaN,NaN,2024-12,EE472200221064500325,Intelligent Technologies OÜ

In [103]:
import os

from sqlalchemy import create_engine, Column, Integer, String, Numeric
from sqlalchemy.orm import sessionmaker
from dotenv import load_dotenv
load_dotenv(override=True)

# Database connection
db_url = os.getenv("DB_URL")
engine = create_engine(db_url)
SessionLocal = sessionmaker(engine)

# Insert to postgres
from model import BankTransaction

for _, row in df.iterrows():
    session = SessionLocal()
    transaction = BankTransaction(description=row["Description"], 
                                  amount=row["Amount"],
                                  sender=row["Sender"],
                                  receiver=row["Receiver"],
                                  date=row["Date"],
                                  currency=row["Currency"]

                                  )
    session.add(transaction)
    try:
        session.commit()
    except:
        continue
    session.close()

In [14]:
# # Group by month and calculate sum of spending
monthly_spending = df.groupby('Month')['Summa'].sum()

montly_spending

KeyError: 'Column not found: Summa'

In [67]:
# Find the month with the biggest spending
max_spending_month = monthly_spending.idxmax()
max_spending_value = monthly_spending.max()

print(f'Biggest spending month: {max_spending_month}, Amount: {max_spending_value}')

# Display aggregated monthly spendings
print(monthly_spending)

Biggest spending month: 2024-04, Amount: 35249.67
Month
2024-01    14101.93
2024-02    28199.79
2024-03    14313.58
2024-04    35249.67
2024-05    20205.69
2024-06    30563.87
2024-07    21903.46
Freq: M, Name: Summa, dtype: float64